In [22]:
# Clean up any existing database and cleaned files prior to creating the DB and cleaned CSV files

In [23]:
!rm data/flp2Data.sqlite data/home_cleaned.csv data/income_cleaned.csv

rm: data/home_cleaned.csv: No such file or directory
rm: data/income_cleaned.csv: No such file or directory

In [24]:
# Dependencies
import pandas as pd
import numpy as np
import os
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

# Data Cleaning

In [25]:
# Path of the CSV file
# homecsv = "data/median_home_prices.csv"
# incomecsv = "data/median_household_income.csv"
# wellcsv = "data/horizontal_wells.csv"
# crimecsv = "data/violent_crime_rates.csv"
allcsv = "data/project_data_combined.csv"

In [26]:
# Read CSV file into a pandas DataFrame
all_df = pd.read_csv(allcsv, dtype=object)

In [27]:
# Preview DataFrame
# Note that some rows are missing gender
all_df.head()

        state abbr hw_09 hw_10 hw_11 hw_12 hw_13 hw_14 hw_15 hw_16        lat         long  mhp_09  mhp_10  mhp_11  mhp_12  mhp_13  mhp_14  mhp_15  mhp_16 mhi_09 mhi_10 mhi_11 mhi_12 mhi_13 mhi_14 mhi_15 mhi_16  vc_09  vc_10  vc_11  vc_12 vc_13  vc_14  vc_15  vc_16
0     Alabama   AL    12    17    27    30    28    27    26    23  32.806671    -86.79113  111900  117600  120800  122300  122500  123800  125500  128500  41216  42081  42934  43160  43253  43511  43623  44758  449.8    377  420.1  449.9     0  427.4  472.4  532.3
1      Alaska   AK    13    14    12    12    12    14    15    14  61.370716  -152.404419  221300  229100  235100  237900  241800  246300  250000  257100  64635  66521  69014  69917  70760  71829  72515  74444    633  638.8  606.5  603.2     0  635.8  730.2  804.2
2     Arizona   AZ     0     0     0     0     0     0     0     0  33.729759  -111.431221  218400  215000  197400  175900  165100  162900  167500  176900  50296  50448  50752  50256  49774  49928  50255  51340  408.3  408.1  405.9  428.9     0  399.9  410.2  470.1
3    Arkansas   AR  2078  2944  3760  4446  4913  5394  5639  5585  34.969704   -92.373123   97200  102300  105100  106300  107300  108700  111400  114700  38542  39267  40149  40531  40768  41264  41371  42336  517.7  505.3  480.9  469.1     0  480.1  521.3  550.9
4  California   CA   558   575   679  1009  1261  1558  1717  1697  36.116203  -119.681564  479200  458500  421600  383900  366400  371400  385500  409300  60392  60883  61632  61400  61094  61489  61818  63783    472  440.6  411.1  423.1     0  396.1  426.3  445.3

In [ ]:
all_df['long'] = pd.to_numeric(all_df['long'], errors='coerce').fillna(0)

# Database Creation

In [28]:
all_df.dtypes

state     object
abbr      object
hw_09     object
hw_10     object
hw_11     object
hw_12     object
hw_13     object
hw_14     object
hw_15     object
hw_16     object
lat       object
long      object
mhp_09    object
mhp_10    object
mhp_11    object
mhp_12    object
mhp_13    object
mhp_14    object
mhp_15    object
mhp_16    object
mhi_09    object
mhi_10    object
mhi_11    object
mhi_12    object
mhi_13    object
mhi_14    object
mhi_15    object
mhi_16    object
vc_09     object
vc_10     object
vc_11     object
vc_12     object
vc_13     object
vc_14     object
vc_15     object
vc_16     object
dtype: object

In [29]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [30]:
# Create an engine to a SQLite database file called `customers.sqlite`
engine = create_engine("sqlite:///data/flp2Data.sqlite")

In [31]:
#total dataset

In [32]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [33]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Projectdata(Base):
    __tablename__ = 'projectdata'

    id = Column(Integer, primary_key=True)
    state = Column(Text)
    abbr = Column(Text)
    hw_09 = Column(Integer)
    hw_10 = Column(Integer)
    hw_11 = Column(Integer)
    hw_12 = Column(Integer)
    hw_13 = Column(Integer)
    hw_14 = Column(Integer)
    hw_15 = Column(Integer)
    hw_16 = Column(Integer)
    lat = Column(Text)
    long = Column(Text)
    mhp_09 = Column(Integer)
    mhp_10 = Column(Integer)
    mhp_11 = Column(Integer)
    mhp_12 = Column(Integer)
    mhp_13 = Column(Integer)
    mhp_14 = Column(Integer)
    mhp_15 = Column(Integer)
    mhp_16 = Column(Integer)
    mhi_09 = Column(Integer)
    mhi_10 = Column(Integer)
    mhi_11 = Column(Integer)
    mhi_12 = Column(Integer)
    mhi_13 = Column(Integer)
    mhi_14 = Column(Integer)
    mhi_15 = Column(Integer)
    mhi_16 = Column(Integer)
    vc_09 = Column(Integer)
    vc_10 = Column(Integer)
    vc_11 = Column(Integer)
    vc_12 = Column(Integer)
    vc_13 = Column(Integer)
    vc_14 = Column(Integer)
    vc_15 = Column(Integer)
    vc_16 = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [34]:
# Use `create_all` to create the median home income table in the database
Base.metadata.create_all(engine)

In [35]:
# Next we process median home income
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
all_data = all_df.to_dict(orient='records')

In [36]:
# Data is just a list of dictionaries that represent each row of data
print(all_data[:5])

[{'state': 'Alabama', 'abbr': 'AL', 'hw_09': '12', 'hw_10': '17', 'hw_11': '27', 'hw_12': '30', 'hw_13': '28', 'hw_14': '27', 'hw_15': '26', 'hw_16': '23', 'lat': '32.806671', 'long': '-86.79113', 'mhp_09': '111900', 'mhp_10': '117600', 'mhp_11': '120800', 'mhp_12': '122300', 'mhp_13': '122500', 'mhp_14': '123800', 'mhp_15': '125500', 'mhp_16': '128500', 'mhi_09': '41216', 'mhi_10': '42081', 'mhi_11': '42934', 'mhi_12': '43160', 'mhi_13': '43253', 'mhi_14': '43511', 'mhi_15': '43623', 'mhi_16': '44758', 'vc_09': '449.8', 'vc_10': '377', 'vc_11': '420.1', 'vc_12': '449.9', 'vc_13': '0', 'vc_14': '427.4', 'vc_15': '472.4', 'vc_16': '532.3'}, {'state': 'Alaska', 'abbr': 'AK', 'hw_09': '13', 'hw_10': '14', 'hw_11': '12', 'hw_12': '12', 'hw_13': '12', 'hw_14': '14', 'hw_15': '15', 'hw_16': '14', 'lat': '61.370716', 'long': '-152.404419', 'mhp_09': '221300', 'mhp_10': '229100', 'mhp_11': '235100', 'mhp_12': '237900', 'mhp_13': '241800', 'mhp_14': '246300', 'mhp_15': '250000', 'mhp_16': '257100', 'mhi_09': '64635', 'mhi_10': '66521', 'mhi_11': '69014', 'mhi_12': '69917', 'mhi_13': '70760', 'mhi_14': '71829', 'mhi_15': '72515', 'mhi_16': '74444', 'vc_09': '633', 'vc_10': '638.8', 'vc_11': '606.5', 'vc_12': '603.2', 'vc_13': '0', 'vc_14': '635.8', 'vc_15': '730.2', 'vc_16': '804.2'}, {'state': 'Arizona', 'abbr': 'AZ', 'hw_09': '0', 'hw_10': '0', 'hw_11': '0', 'hw_12': '0', 'hw_13': '0', 'hw_14': '0', 'hw_15': '0', 'hw_16': '0', 'lat': '33.729759', 'long': '-111.431221', 'mhp_09': '218400', 'mhp_10': '215000', 'mhp_11': '197400', 'mhp_12': '175900', 'mhp_13': '165100', 'mhp_14': '162900', 'mhp_15': '167500', 'mhp_16': '176900', 'mhi_09': '50296', 'mhi_10': '50448', 'mhi_11': '50752', 'mhi_12': '50256', 'mhi_13': '49774', 'mhi_14': '49928', 'mhi_15': '50255', 'mhi_16': '51340', 'vc_09': '408.3', 'vc_10': '408.1', 'vc_11': '405.9', 'vc_12': '428.9', 'vc_13': '0', 'vc_14': '399.9', 'vc_15': '410.2', 'vc_16': '470.1'}, {'state': 'Arkansas', 'abbr': 'AR', 'hw_09': '2078', 'hw_10': '2944', 'hw_11': '3760', 'hw_12': '4446', 'hw_13': '4913', 'hw_14': '5394', 'hw_15': '5639', 'hw_16': '5585', 'lat': '34.969704', 'long': '-92.373123', 'mhp_09': '97200', 'mhp_10': '102300', 'mhp_11': '105100', 'mhp_12': '106300', 'mhp_13': '107300', 'mhp_14': '108700', 'mhp_15': '111400', 'mhp_16': '114700', 'mhi_09': '38542', 'mhi_10': '39267', 'mhi_11': '40149', 'mhi_12': '40531', 'mhi_13': '40768', 'mhi_14': '41264', 'mhi_15': '41371', 'mhi_16': '42336', 'vc_09': '517.7', 'vc_10': '505.3', 'vc_11': '480.9', 'vc_12': '469.1', 'vc_13': '0', 'vc_14': '480.1', 'vc_15': '521.3', 'vc_16': '550.9'}, {'state': 'California', 'abbr': 'CA', 'hw_09': '558', 'hw_10': '575', 'hw_11': '679', 'hw_12': '1009', 'hw_13': '1261', 'hw_14': '1558', 'hw_15': '1717', 'hw_16': '1697', 'lat': '36.116203', 'long': '-119.681564', 'mhp_09': '479200', 'mhp_10': '458500', 'mhp_11': '421600', 'mhp_12': '383900', 'mhp_13': '366400', 'mhp_14': '371400', 'mhp_15': '385500', 'mhp_16': '409300', 'mhi_09': '60392', 'mhi_10': '60883', 'mhi_11': '61632', 'mhi_12': '61400', 'mhi_13': '61094', 'mhi_14': '61489', 'mhi_15': '61818', 'mhi_16': '63783', 'vc_09': '472', 'vc_10': '440.6', 'vc_11': '411.1', 'vc_12': '423.1', 'vc_13': '0', 'vc_14': '396.1', 'vc_15': '426.3', 'vc_16': '445.3'}]

In [37]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [38]:
# Save the reference to the `homeprice table as a variable called `table`
table = sqlalchemy.Table('projectdata', metadata, autoload=True)

In [39]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table.delete())

In [40]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), all_data)

In [41]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from projectdata limit 10").fetchall()

[(1, 'Alabama', 'AL', 12, 17, 27, 30, 28, 27, 26, 23, '32.806671', '-86.79113', 111900, 117600, 120800, 122300, 122500, 123800, 125500, 128500, 41216, 42081, 42934, 43160, 43253, 43511, 43623, 44758, 449.8, 377, 420.1, 449.9, 0, 427.4, 472.4, 532.3),
 (2, 'Alaska', 'AK', 13, 14, 12, 12, 12, 14, 15, 14, '61.370716', '-152.404419', 221300, 229100, 235100, 237900, 241800, 246300, 250000, 257100, 64635, 66521, 69014, 69917, 70760, 71829, 72515, 74444, 633, 638.8, 606.5, 603.2, 0, 635.8, 730.2, 804.2),
 (3, 'Arizona', 'AZ', 0, 0, 0, 0, 0, 0, 0, 0, '33.729759', '-111.431221', 218400, 215000, 197400, 175900, 165100, 162900, 167500, 176900, 50296, 50448, 50752, 50256, 49774, 49928, 50255, 51340, 408.3, 408.1, 405.9, 428.9, 0, 399.9, 410.2, 470.1),
 (4, 'Arkansas', 'AR', 2078, 2944, 3760, 4446, 4913, 5394, 5639, 5585, '34.969704', '-92.373123', 97200, 102300, 105100, 106300, 107300, 108700, 111400, 114700, 38542, 39267, 40149, 40531, 40768, 41264, 41371, 42336, 517.7, 505.3, 480.9, 469.1, 0, 480.1, 521.3, 550.9),
 (5, 'California', 'CA', 558, 575, 679, 1009, 1261, 1558, 1717, 1697, '36.116203', '-119.681564', 479200, 458500, 421600, 383900, 366400, 371400, 385500, 409300, 60392, 60883, 61632, 61400, 61094, 61489, 61818, 63783, 472, 440.6, 411.1, 423.1, 0, 396.1, 426.3, 445.3),
 (6, 'Colorado', 'CO', 115, 180, 426, 963, 1831, 3091, 4228, 5064, '39.059811', '-105.311104', 234100, 236600, 236700, 236800, 236200, 239400, 247800, 264600, 56222, 56456, 57685, 58244, 58433, 59448, 60629, 62520, 337.8, 320.8, 320.2, 308.9, 0, 309.1, 321, 342.6),
 (7, 'Connecticut', 'CT', 0, 0, 0, 0, 0, 0, 0, 0, '41.597782', '-72.755371', 295800, 296500, 293100, 285900, 278900, 274500, 270500, 269300, 67721, 67740, 69243, 69519, 69461, 69899, 70331, 71755, 298.7, 281.4, 272.8, 283, 0, 236.9, 218.5, 227.1),
 (8, 'Delaware', 'DE', 0, 0, 0, 0, 0, 0, 0, 0, '39.318523', '-75.507141', 235000, 242300, 244100, 241100, 235800, 232900, 231500, 233100, 57618, 57599, 59317, 60119, 59878, 60231, 60509, 61017, 636.6, 620.9, 559.5, 547.4, 0, 489.1, 499, 508.8),
 (9, 'District of Columbia', 'DC', 0, 0, 0, 0, 0, 0, 0, 0, '38.897438', '-77.026817', 440500, 443300, 442600, 443000, 445200, 454500, 475800, 506100, 56519, 58526, 61835, 64267, 65830, 69235, 70848, 72935, 1345.9, 1330.2, 1202.1, 1243.7, 0, 1244.4, 1269.1, 1205.9),
 (10, 'Florida', 'FL', 0, 1, 1, 1, 0, 0, 1, 0, '27.766279', '-81.686783', 211300, 205600, 188600, 170800, 160200, 156200, 159000, 166800, 47450, 47661, 47827, 47309, 46956, 47212, 47507, 48900, 612.5, 542.4, 515.3, 487.1, 0, 540.5, 461.9, 430.3)]

In [21]:
all_df.columns

Index(['state', 'abbr', 'hw_09', 'hw_10', 'hw_11', 'hw_12', 'hw_13', 'hw_14', 'hw_15', 'hw_16', 'lat', 'long', 'mhp_09', 'mhp_10', 'mhp_11', 'mhp_12', 'mhp_13', 'mhp_14', 'mhp_15', 'mhp_16', 'mhi_09', 'mhi_10', 'mhi_11', 'mhi_12', 'mhi_13', 'mhi_14', 'mhi_15', 'mhi_16', 'vc_09', 'vc_10', 'vc_11', 'vc_12', 'vc_13', 'vc_14', 'vc_15', 'vc_16'], dtype='object')

In [ ]:
all_df.iloc[0:]

Holding pen

In [ ]:
# Read CSV file into a pandas DataFrame
# income_df = pd.read_csv(incomecsv, dtype=object)

In [ ]:
# Read CSV file into a pandas DataFrame
# home_df = pd.read_csv(homecsv, dtype=object)

In [ ]:
# home_df.head()

In [ ]:
# crime_df.describe()

In [ ]:
# well_df.head()

In [ ]:
# Use `dropna` to drop any rows where there is missing data
# Notice that index has not been reset and contains a gap (0,2,5,6,7)
# df = df.dropna(axis=0)
# df.head()

In [ ]:
# Drop the 'gender' column and reset the index
# Note that after resetting the index, the gap is gone
# df = df.drop(['gender'], axis=1).reset_index(drop=True)
# df.head()

In [ ]:
# # Save the cleaned data to a file called `customers_cleaned.csv`
# new_csv = "customers_cleaned.csv"
# df.to_csv(new_csv, index=False)

In [ ]:
# Read CSV file into a pandas DataFrame
# well_df = pd.read_csv(wellcsv, dtype=object)

In [ ]:
# # Read CSV file into a pandas DataFrame
# crime_df = pd.read_csv(crimecsv, dtype=object)

In [ ]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# # http://docs.sqlalchemy.org/en/latest/core/type_basics.html
# Base = declarative_base()

# class Home(Base):
#     __tablename__ = 'homeprice'

#     id = Column(Integer, primary_key=True)
#     state = Column(Text)
#     abbr = Column(Text)
#     mhp_09 = Column(Integer)
#     mhp_10 = Column(Integer)
#     mhp_11 = Column(Integer)
#     mhp_12 = Column(Integer)
#     mhp_13 = Column(Integer)
#     mhp_14 = Column(Integer)
#     mhp_15 = Column(Integer)
#     mhp_16 = Column(Integer)
    
#     def __repr__(self):
#         return f"id={self.id}, name={self.name}"
# # More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [ ]:
# # Use `create_all` to create the median home price table in the database
# Base.metadata.create_all(engine)

In [ ]:
# Load the cleaned csv file into a pandas dataframe
# new_df = pd.read_csv(new_csv)

In [ ]:
# Start with median home price
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# # http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
# home_data = home_df.to_dict(orient='records')

In [ ]:
# # Data is just a list of dictionaries that represent each row of data
# print(home_data[:5])

In [ ]:
# # Use MetaData from SQLAlchemy to reflect the tables
# metadata = MetaData(bind=engine)
# metadata.reflect()

In [ ]:
# # Save the reference to the `homeprice table as a variable called `table`
# table = sqlalchemy.Table('homeprice', metadata, autoload=True)

In [ ]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# # You would not likely do this step in production.
# conn.execute(table.delete())

In [ ]:
# Use `table.insert()` to insert the data into the table
# # The SQL table is populated during this step
# conn.execute(table.insert(), home_data)

In [ ]:
# # Test that the insert works by fetching the first 5 rows. 
# conn.execute("select * from homeprice limit 5").fetchall()

In [ ]:
# Now lets create the median income table

In [ ]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [ ]:
# Use `declarative_base` from SQLAlchemy to model the demographics table as an ORM class
# Make sure to specify types for each column, e.g. Integer, Text, etc.
# http://docs.sqlalchemy.org/en/latest/core/type_basics.html
Base = declarative_base()

class Home(Base):
    __tablename__ = 'income'

    id = Column(Integer, primary_key=True)
    state = Column(Text)
    abbr = Column(Text)
    mhi_09 = Column(Integer)
    mhi_10 = Column(Integer)
    mhi_11 = Column(Integer)
    mhi_12 = Column(Integer)
    mhi_13 = Column(Integer)
    mhi_14 = Column(Integer)
    mhi_15 = Column(Integer)
    mhi_16 = Column(Integer)
    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr

In [ ]:
# Use `create_all` to create the median home income table in the database
Base.metadata.create_all(engine)

In [ ]:
# Next we process median home income
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
income_data = income_df.to_dict(orient='records')

In [ ]:
# Data is just a list of dictionaries that represent each row of data
print(income_data[:5])

In [ ]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [ ]:
# Save the reference to the `homeprice table as a variable called `table`
table = sqlalchemy.Table('income', metadata, autoload=True)

In [ ]:
# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table.delete())

In [ ]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), income_data)

In [ ]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from homeprice limit 5").fetchall()

In [ ]:
all_df.head()