In [1]:
# import necessary libraries
import numpy as np

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import (
    Flask,
    render_template,
    jsonify,
    request,
    redirect)

#################################################
# Flask Setup
#################################################
app = Flask(__name__)
   
#################################################
# Database Setup
#################################################
import pandas as pd
import sqlite3

conn = sqlite3.connect("data/flp2data.sqlite")

In [2]:
#Create Dataframes
income_df = pd.read_sql_query("select * from income;", conn)

In [4]:
home_df = pd.read_sql_query("select * from homeprice;", conn)

In [5]:
home_df.head()

,id,state,abbr,mhp_09,mhp_10,mhp_11,mhp_12,mhp_13,mhp_14,mhp_15,mhp_16
0,1,Alabama,AL,111900,117600,120800,122300,122500,123800,125500,128500
1,2,Alaska,AK,221300,229100,235100,237900,241800,246300,250000,257100
2,3,Arizona,AZ,218400,215000,197400,175900,165100,162900,167500,176900
3,4,Arkansas,AR,97200,102300,105100,106300,107300,108700,111400,114700
4,5,California,CA,479200,458500,421600,383900,366400,371400,385500,409300

In [6]:
income_df.head()

,id,state,abbr,mhi_09,mhi_10,mhi_11,mhi_12,mhi_13,mhi_14,mhi_15,mhi_16
0,1,Alabama,AL,41216,42081,42934,43160,43253,43511,43623,44758
1,2,Alaska,AK,64635,66521,69014,69917,70760,71829,72515,74444
2,3,Arizona,AZ,50296,50448,50752,50256,49774,49928,50255,51340
3,4,Arkansas,AR,38542,39267,40149,40531,40768,41264,41371,42336
4,5,California,CA,60392,60883,61632,61400,61094,61489,61818,63783

In [12]:
income_df.state[2]

'Arizona'

In [17]:
income_df.iloc[2,1]

'Arizona'

In [33]:
for index in range(len(home_df["id"])):
#         houseDesc.append(home_df.iloc[index,1])
    results = [{
        'state': home_df.iloc[index]['state'],
        'abbr': home_df.iloc[index]['abbr'],
        'mhp_09': int(home_df.iloc[index]['mhp_09']),
        'mhp_10': int(home_df.iloc[index]['mhp_10']),
        'mhp_11': int(home_df.iloc[index]['mhp_11']),
        'mhp_12': int(home_df.iloc[index]['mhp_12']),
        'mhp_13': int(home_df.iloc[index]['mhp_13']),
        'mhp_14': int(home_df.iloc[index]['mhp_14']),
        'mhp_15': int(home_df.iloc[index]['mhp_15']),
        'mhp_16': int(home_df.iloc[index]['mhp_16'])
        }]

In [26]:
len(home_df["id"])

52

In [34]:
results

[{'abbr': 'PR',
  'mhp_09': 107200,
  'mhp_10': 112600,
  'mhp_11': 117300,
  'mhp_12': 121500,
  'mhp_13': 121200,
  'mhp_14': 121700,
  'mhp_15': 120500,
  'mhp_16': 118600,
  'state': 'Puerto Rico'}]

In [35]:
#     print(sample)
#     descSamples_df = samples_df.sort_values('otu_id', ascending=False)

clList = home_df.columns
    
print(clList)
print(len(clList))
position = 0
# for index in range(len(clList)):
#     if (clList[index] == sample):
#         position = index
#         break
#     position += 1

stateList =[]
abbrList =[]
dataList =[]
# for index in range(len(descSamples_df["otu_id"])):
#     if (descSamples_df.iloc[index,position] != 0):
#         sampleList.append(int(descSamples_df.iloc[index,position]))
#         otuList.append(int(descSamples_df.iloc[index,0]))

        stateList.append(home_df.iloc[index]['state'])


houseResults = [{
        'state': stateList,
        'abbr': abbrList,
        'data': dataList
    }]

Index(['id', 'state', 'abbr', 'mhp_09', 'mhp_10', 'mhp_11', 'mhp_12', 'mhp_13',
       'mhp_14', 'mhp_15', 'mhp_16'],
      dtype='object')
11

In [39]:
abbrList =[]
dataList =[]

In [36]:
stateList =[]

In [37]:
stateList.append(home_df.iloc[0]['state'])

In [51]:
stateList.append(home_df.iloc[1]['state'])
abbrList.append(home_df.iloc[1]['abbr'])

In [54]:
abbrList.append(home_df.iloc[0]['abbr'])

In [55]:
houseResults = [{
        'state': stateList,
        'abbr': abbrList,
        'data': dataList
    }]

In [63]:
houseResults

[]

In [59]:
type(houseResults)

list

In [133]:
stateList =[]
abbrList =[]
dataList =[]
houseResults = []
mhp_data = []
stateResults1 = {}
stateResutls2 = {}

In [89]:
for index in range(len(home_df["id"])):
#         houseDesc.append(home_df.iloc[index,1])
    stateList.append(home_df.iloc[index]['state'])
    abbrList.append(home_df.iloc[index]['abbr'])
    for x in range(3,11):
        mhp_data.append(home_df.iloc[index,x])

In [134]:
stateList.append(home_df.iloc[0]['state'])
abbrList.append(home_df.iloc[0]['abbr'])
for x in range(3,11):
    mhp_data.append(home_df.iloc[0,x])

In [135]:
stateResults1 = {
        'state': stateList,
        'abbr': abbrList,
        'data': mhp_data
    }

In [136]:
stateResults1

{'abbr': ['AL'],
 'data': [111900, 117600, 120800, 122300, 122500, 123800, 125500, 128500],
 'state': ['Alabama']}

In [137]:
stateList =[]
abbrList =[]
dataList =[]
houseResults = []
mhp_data = []

In [138]:
stateList.append(home_df.iloc[1]['state'])
abbrList.append(home_df.iloc[1]['abbr'])
for x in range(3,11):
    mhp_data.append(home_df.iloc[1,x])

In [139]:
stateResults2 = {
        'state': stateList,
        'abbr': abbrList,
        'data': mhp_data
    }

In [140]:
stateResults2

{'abbr': ['AK'],
 'data': [221300, 229100, 235100, 237900, 241800, 246300, 250000, 257100],
 'state': ['Alaska']}

In [141]:
result = [
    stateResults1,
    stateResults2
]

In [142]:
result

[{'abbr': ['AL'],
  'data': [111900, 117600, 120800, 122300, 122500, 123800, 125500, 128500],
  'state': ['Alabama']},
 {'abbr': ['AK'],
  'data': [221300, 229100, 235100, 237900, 241800, 246300, 250000, 257100],
  'state': ['Alaska']}]

In [143]:
result[0]

{'abbr': ['AL'],
 'data': [111900, 117600, 120800, 122300, 122500, 123800, 125500, 128500],
 'state': ['Alabama']}

In [144]:
result[1]

{'abbr': ['AK'],
 'data': [221300, 229100, 235100, 237900, 241800, 246300, 250000, 257100],
 'state': ['Alaska']}

In [147]:
result[1]["data"][1]

229100

In [157]:
result_set = []

In [158]:
result_set = []
state_set = []
for index in range(len(home_df["id"])):
    stateList = []
    abbrList = []
    mhp_data = []
    stateList.append(home_df.iloc[index]['state'])
    abbrList.append(home_df.iloc[index]['abbr'])
    for x in range(3,11):
        mhp_data.append(home_df.iloc[index,x])
    state_set = {
        'state': stateList,
        'abbr': abbrList,
        'data': mhp_data
    }
    result_set.append(state_set)

In [164]:
result_set[49]['data'][3]

169000

In [165]:
abbrList = ["al", "ak", "az", "il", 'wi', "ca", "mn", "ma", 'tx', "ia", "nh", 'sc']

In [166]:
abbrList

['al', 'ak', 'az', 'il', 'wi', 'ca', 'mn', 'ma', 'tx', 'ia', 'nh', 'sc']